<!--
Launches all ROS componenets which are responsible for data
aquisition: laser drivers, and the interface to the 
hight level.
-->

<launch>
  <arg name="publish_cloud" value="false"/>

  #### kinect ###################################################################
  <include file="$(find ccny_turtlebot_launch)/launch/live/openni.launch">
       <arg name="publish_cloud"   value="$(arg publish_cloud)" />
  </include>

</launch>



