<!-- Play rw OpenNI data from a file and process it-->
<launch>

  <!-- Parameters -->
  <arg name="bag_path" />
  <arg name="bag_name" />
  <arg name="manager_name" value="rgbd_manager"/>
  <arg name="calib_path" default="$(find ccny_rgbd)/data/calibration_asus_xtion_pro"/> 
  
  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager"
        output="screen"/>

  <!-- RGBD playback -->
  <include file="$(find ccny_openni_launch)/launch2/include/play.launch">       
     <arg name="bag_path" value="$(arg bag_path)" />
     <arg name="bag_name" value="$(arg bag_name)" />
  </include>
  
  <!-- RGBD processing -->
  <include file="$(find ccny_openni_launch)/launch2/include/proc.launch">       
     <arg name="manager_name" value="$(arg manager_name)" />
     <arg name="calib_path"   value="$(arg calib_path)" />
  </include>
           
</launch>
