<!-- Launch OpenNI driver and record the data -->
<launch>

  <!-- Parameters -->
  <arg name="bag_name" />
  <arg name="manager_name" default="rgbd_manager"/>
  <arg name="calib_path" default="$(find ccny_rgbd_data)/calibration_openni_default"/> 
  
  <arg name="image_mode" default="2" />
  <arg name="depth_mode" default="2"/>
  # modes: 
  #             2 (640x480 VGA 30Hz)
  #             5 (320x240 QVGA 30Hz)
  #             8 (160x120 QQVGA 30Hz)
  
  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager"
        output="screen"/>

  <!-- Driver nodelet -->      
  <include file="$(find ccny_openni_launch)/launch/include/device.launch">       
     <arg name="manager_name" value="$(arg manager_name)" />
     <arg name="calib_path"   value="$(arg calib_path)" />
     <arg name="image_mode"   value="$(arg image_mode)" />
     <arg name="depth_mode"   value="$(arg depth_mode)" />
  </include>
            
  <!-- RGBD recording -->
  <include file="$(find ccny_openni_launch)/launch/include/record.launch">       
     <arg name="bag_name" value="$(arg bag_name)" />
  </include>

</launch>