qtc-gdbmacros
.DS_Store
*~
*.gch
*.o
*.bak
*.pyc
.player
.svn
doc
moc*.cpp
qrc*.cpp
.project
.cproject
.settings
Makefile.*
Debug
Release
*.suo
*.ncb
*.user
*.tmp
.directory
__init__.py
__init__.pyc
.pydevproject
CMakeFiles
CMakeCache.txt
cmake_install.cmake
build
bin
lib
msg_gen
srv_gen
src/*/cfg
warp.yml
