<!--
Launches the entire CityTurtle system in offline mode, using raw data
recorded in a bag file.
-->

<launch>

  <arg name="bag_name" value="$(env HOME)/ros/bags/rgbd/hallway_01.bag"/>

  #### Data Playback #########################################################

  <include file="$(find ccny_openni_launch)/launch/openni_play.launch">
    <arg name="bag_name" value="$(arg bag_name)" />
    <arg name="publish_cloud" value="true" />
  </include>
 
   #### Data Processing #########################################################
  <include file="$(find ccny_turtlebot_launch)/launch/proc/procdata.launch"/>

</launch>



