<!-- Launch file to play back unprocessed OpenNI data -->
<launch>

  <arg name="bag_name" />
  <arg name="bag_rate" />
  <arg name="bag_start"/>

  <node pkg="rosbag" type="play" name="play" output="screen"
    args="$(arg bag_name) --clock --start=$(arg bag_start) --queue=1000 --rate=$(arg bag_rate)"/>

</launch>