<launch>

  <!-- arg name="BAG_NAME" value="asus/kinect_03.bag"/ -->
  <arg name="BAG_NAME" value="Freiburg/rgbd_dataset_freiburg1_xyz.bag"/>

  <param name="use_sim_time" value="true"/>

  <node pkg="rosbag" type="play" name="play" output="screen"
    args="$(env HOME)/ros/bags/$(arg BAG_NAME) --delay=1 --rate=1 --clock"/>

</launch>
