<!-- Launch file for depth warp calibration. Reads in rgb+depth image
 pairs of a checkerboard at different distances, and computes 
 depth warp parameters -->

<launch>
  <node pkg="ccny_rgbd_calibrate" type="depth_calibrator_node" 
    name="depth_calibrator_node" output="screen">

    <param name="path" value="$(env HOME)/ros/ccny-ros-pkg/ccny_rgbd_data/images/ext_calib_01"/>
    <param name="n_cols"      value="9"/>
    <param name="n_rows"      value="6"/>
    <param name="square_size" value="100.0"/>  
    <param name="fit_mode"    value="2"/>
    
    <param name="testname" type="string"  value="0017"/>
  </node>
</launch>
