<!-- RGB-D Monocual Visual Odometry -->

<launch>
  # ORB, SURF, GTF, KLT  (But not implemented this yet)
  <arg name="detector_type" default="GFT" /> # TODO:not used yet
  
  <arg name="PATH_TO_PCD" default="$(env HOME)/ros/" />
  <arg name="PCD_NAME" default="freiburg.pcd" /> # PCD file name (with extension)
  <arg name="FULL_PCD_NAME" default="$(arg PATH_TO_PCD)/$(arg PCD_NAME)" />
  
  <node pkg="ccny_rgbd" type="mono_vo_node" name="mono_vo_node" 
    output="screen">
    
    # Keyframes location:
    #param name="apps/mono_vo/path_to_keyframes" value="$(env HOME)/ros/Maps/3D/CCNY Office/Keyframes/" #
    <param name="apps/mono_vo/path_to_keyframes" value="$(env HOME)/ros/Maps/3D/CCNY Office 640/Keyframes/" />
    <param name="apps/mono_vo/initial_keyframe_number" value="0" /> 
    
    # PCD file location
    <param name="apps/mono_vo/PCD_filename" value="$(arg FULL_PCD_NAME)"/> 

    # Running options:    
    <param name="apps/mono_vo/debug_mode" value="true" />
    # Publishing options
    # It publishes odometry regardless!
    <param name="apps/mono_vo/publish_cloud_model" value="true"/> 
    <param name="apps/mono_vo/publish_virtual_img" value="true"/> # Not implemented yet (as ROS publishing)

    # Topics:
    # Camera from bag (no calibration)
    <!--
    <param name="apps/mono_vo/topic_cam_info" value="/camera/rgb/camera_info" />
    <param name="apps/mono_vo/topic_image"  value="/camera/rgb/image_raw" />
    -->
    # Camera with calibration files
    <param name="apps/mono_vo/topic_cam_info" value="/camera/rgb/camera_info" />
    <param name="apps/mono_vo/topic_image"    value="/camera/rgb/image_color" />

    # Frames
    <param name="fixed_frame" value="/odom"/>
    <!-- param name="base_frame"  value="/openni_camera"/ --> # For Freiburg bags
    <param name="base_frame"  value="/camera_link"/> 
       
    ##########################################################################
   
    <param name="apps/mono_vo/image_width"                   value="320" /> 
    <param name="apps/mono_vo/image_height"                  value="240" /> 
    <param name="apps/mono_vo/virtual_image_width"           value="320" /> # Or 360, 400, 440 
    <param name="apps/mono_vo/virtual_image_height"          value="240" /> # Or 270, 300, 330 
   
    <!-- works for 0.2 speed (7 FPS)
    <param name="apps/mono_vo/max_ransac_iterations"         value="1000"/>
    <param name="apps/mono_vo/min_inliers_count"             value="50"/>
    <param name="apps/mono_vo/max_reproj_error"              value="2"/>   
    <param name="apps/mono_vo/detector_threshold"            value="800" /> 
    <param name="apps/mono_vo/max_descriptor_space_distance" value="0.5" /> 
    <param name="apps/mono_vo/virtual_image_blur"            value="3"/>
    -->
    
    # For old office at 1.0 speed (30 FPS)
    <!--
    <param name="apps/mono_vo/max_ransac_iterations"         value="1000"/>
    <param name="apps/mono_vo/min_inliers_count"             value="50"/>
    <param name="apps/mono_vo/max_reproj_error"              value="2"/>   
    <param name="apps/mono_vo/detector_threshold"            value="800" /> 
    <param name="apps/mono_vo/max_descriptor_space_distance" value="0.5" /> 
    <param name="apps/mono_vo/virtual_image_blur"            value="3"/>
    <param name="apps/mono_vo/virtual_image_fill"            value="3"/>    
    -->
    
    <!-- works for 0.5 speed (15 FPS)
    -->
    <param name="apps/mono_vo/max_ransac_iterations"         value="1000"/>
    <param name="apps/mono_vo/min_inliers_count"             value="50"/>
    <param name="apps/mono_vo/max_reproj_error"              value="2"/>   
    <param name="apps/mono_vo/detector_threshold"            value="800" /> 
    <param name="apps/mono_vo/max_descriptor_space_distance" value="0.5" /> 
    <param name="apps/mono_vo/virtual_image_blur"            value="3"/>

    <!-- For Freigburg bags:
    <param name="apps/mono_vo/max_ransac_iterations"         value="500"/>
    <param name="apps/mono_vo/min_inliers_count"             value="30"/>
    <param name="apps/mono_vo/max_reproj_error"              value="10"/>   
    <param name="apps/mono_vo/detector_threshold"            value="100" /> 
    <param name="apps/mono_vo/max_descriptor_space_distance" value="1.0" /> 
    <param name="apps/mono_vo/virtual_image_blur"            value="0"/>
    <param name="apps/mono_vo/virtual_image_fill"            value="1"/>
    -->

    
    <!--
    # New office map
    # BAD BAD BAD
    <param name="apps/mono_vo/max_ransac_iterations"         value="2000"/>
    <param name="apps/mono_vo/min_inliers_count"             value="20"/> # It's also the minimum number of matches allowed
    <param name="apps/mono_vo/max_reproj_error"              value="6"/>  
    <param name="apps/mono_vo/detector_threshold"            value="500" /> 
    <param name="apps/mono_vo/max_descriptor_space_distance" value="0.5" /> 
    <param name="apps/mono_vo/virtual_image_blur"            value="3"/>
    <param name="apps/mono_vo/virtual_image_fill"            value="5"/>    
    -->
    
    <!--
    # Baby's room
    # Still BAD
    <param name="apps/mono_vo/max_ransac_iterations"         value="1000"/>
    <param name="apps/mono_vo/min_inliers_count"             value="15"/> # It's also the minimum number of matches allowed
    <param name="apps/mono_vo/max_reproj_error"              value="8"/>  
    <param name="apps/mono_vo/detector_threshold"            value="1500" /> # Higher number finds fewer, but more robust features 
    <param name="apps/mono_vo/max_descriptor_space_distance" value="0.75" /> 
    <param name="apps/mono_vo/virtual_image_blur"            value="3"/>
    <param name="apps/mono_vo/virtual_image_fill"            value="5"/>    
    -->
    
   </node>

</launch>