<!-- RGB-D Monocual Visual Odometry -->

<launch>
  # Carlos' baby room
  <arg name="PATH_TO_BAG" value="$(env HOME)/ros/bags/rgbd" />
  <arg name="BAG_NAME" value="carlos_baby_02-short" /> # Bag name only (Without .bag extension)
  <!-- 
  # Office
  <arg name="PATH_TO_BAG" value="$(env HOME)/ros/bags/rgbd" />
  <arg name="BAG_NAME" value="ccny_rooms_03" /> # Bag name only (Without .bag extension)
  -->

  # Carlos' baby room
  <arg name="PATH_TO_PCD" value="$(env HOME)/ros/PCDs" />
  <arg name="PCD_NAME" value="carlos_baby_02.pcd" /> # PCD file name (with .pcd extension)
  <!-- 
  # Office
  <arg name="PATH_TO_PCD" default="$(env HOME)/ros/Maps/3D/CCNY Office 640/PCD" />
  <arg name="PCD_NAME" default="ccny_office_640_loop.pcd" /> # PCD file name (with .pcd extension)
  -->
  <!--  
  <arg name="PATH_TO_PCD" default="$(env HOME)/ros/PCDs" />
  <arg name="PCD_NAME" default="ccny_office_1m.pcd" /> # PCD file name (with .pcd extension)
  -->
  
  <arg name="FULL_BAG_NAME" value="$(arg PATH_TO_BAG)/$(arg BAG_NAME)" /> # Without extension
  <arg name="FULL_PCD_NAME" value="$(arg PATH_TO_PCD)/$(arg PCD_NAME)" />

  <!-- # To adjust the playback speed and delay
  <arg name="BAG_PLAY_DELAY" value="0.0" /> # Delay in seconds to start the bag's playback
  <arg name="BAG_PLAY_RATE" value="1.0" /> # Rate value in Hz? 1 is normal, 10 is faster, 0.1 is slower
  -->
  
  # ORB, SURF, GTF, KLT
  <arg name="detector_type" value="GFT"/> 

  <include file="$(find ccny_rgbd)/launch/mono_vo.launch">
      <arg name="detector_type" value="$(arg detector_type)" />
      <arg name="FULL_PCD_NAME" value="$(arg FULL_PCD_NAME)" />
  </include>

  # NOTES:
  # the openni's camera_nodelet_manager expects the 3 following topics:
  #         /camera/depth_registered/image_raw
  #         /camera/depth_registered/camera_info
  #         /camera/rgb/image_raw
  #         /camera/rgb/camera_info
  <include file="$(find ccny_rgbd)/launch/play_bag.launch">
      <arg name="FULL_BAG_NAME" value="$(arg PATH_TO_BAG)/$(arg BAG_NAME).bag" />
      # arg name="BAG_PLAY_DELAY" value="$(arg BAG_PLAY_DELAY)" # # TODO: Not used in openni_launch
      # arg name="BAG_PLAY_RATE" value="$(arg BAG_PLAY_RATE)" # 
      <arg name="RGBD_CALIB_PATH" value="$(find ccny_rgbd)/data/calibration_asus_xtion_pro"/> 
      />
  </include>

</launch>
