<!-- Play BAG for Visual Odometry -->

<launch>
  <arg name="FULL_BAG_NAME" default="ccny_rooms_01_qvga.bag" /> # With .bag extension
  <arg name="BAG_PLAY_START" default="0.0" /> # Start position in seconds to start the bag's playback
  <arg name="BAG_PLAY_RATE" default="0.2" /> # Rate value or speed (FPS = rate*known_fps for images) 1 is normal, 10 is faster, 0.1 is slower
  <arg name="RGBD_CALIB_PATH" default="$(find ccny_rgbd)/data/calibration_asus_xtion_pro"/> 
  
  <include file="$(find ccny_openni_launch)/launch/openni_play.launch">
      <arg name="bag_name" value="$(arg FULL_BAG_NAME)" />
      <arg name="bag_start" value="$(arg BAG_PLAY_START)" /> 
      <arg name="bag_rate" value="$(arg BAG_PLAY_RATE)" />
      <arg name="calib_path" value="$(arg RGBD_CALIB_PATH)" />
  </include>

</launch>