<!-- RGB-D Monocual Visual Odometry -->

<launch>
  <arg name="PATH_TO_BAG" default="$(env HOME)/ros/bags/rgbd" />
  <arg name="BAG_NAME" default="apt_01_qvga" /> # Bag name only (Without extension)
  <arg name="FULL_BAG_NAME" default="$(arg PATH_TO_BAG)/$(arg BAG_NAME)" /> # Without extension
  <arg name="BAG_PLAY_DELAY" default="0.0" /> # Delay in seconds to start the bag's playback
  
  <include file="$(find ccny_openni_launch)/launch/openni_play.launch">
      <arg name="path" value="$(arg PATH_TO_BAG)" />
      <arg name="bag_name" value="$(arg BAG_NAME).bag" />
      <arg name="play_delay" value="$(arg BAG_PLAY_DELAY)" />
  </include>

</launch>

