<!-- RGB-D Visual odometry -->
<!-- todo: nodelets -->
<launch>

  <arg name="calib_path" default="$(find ccny_rgbd)/data/calibration_asus_xtion_pro/"/> 

  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="rgbd_proc_manager" args="manager"
        output="screen"/>

  <!-- Debayered images -->
  <node pkg="nodelet" type="nodelet" name="debayer"
        args="load image_proc/debayer rgbd_proc_manager">    
    <remap from="image_raw"   to="/camera/rgb/image_raw"/>
    <remap from="image_color" to="/camera/rgb/image_color"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="rgbd_image_proc"
        args="load ccny_rgbd/RGBDImageProcNodelet rgbd_proc_manager"
        output="screen">
    
    <!-- Resample by a factor of 2-->
    <param name="scale" value="1.0"/>
    <param name="unwarp" value="true"/>
    <param name="publish_cloud" value="false"/>
    <param name="calib_path" value="$(arg calib_path)"/>
        
  </node>
  
</launch>



