<!-- Launches RGB-D visual odometry in conjunction with a keyframe-based
3D mapper-->

<launch>

  #### VISUAL ODOMETRY ####################################

  # ORB, SURF, GTF, STAR
  <arg name="detector_type" default="GFT"/> 

  # ICPProbModel, ICP
  <arg name="reg_type" default="ICPProbModel"/> 

  <include file="$(find ccny_rgbd)/launch/visual_odometry.launch">
    <arg name="detector_type" value="$(arg detector_type)"/>
    <arg name="reg_type"      value="$(arg reg_type)"/>
  </include>

  #### KEYFRAME MAPPING ###################################

  <node pkg="ccny_rgbd" type="keyframe_mapper_node" name="keyframe_mapper_node" 
    output="screen">

    <param name="kf_dist_eps"  value="0.15"/>
    <param name="kf_angle_eps" value="0.15"/> 
    <param name="full_map_res" value="0.01"/>

  </node>

</launch>



