<launch>
  <arg name="PATH_TO_FILE" value="$(env HOME)/ros/bags/rgbd" />
  <arg name="BAG_NAME" value="apt_01_qvga" /> # Without extension
  <arg name="FULL_BAG_NAME" value="$(arg PATH_TO_FILE)/$(arg BAG_NAME)" /> # Without extension
  <arg name="BAG_PLAY_DELAY" value="0.0" /> # Delay in seconds to start the bag's playback
  
  <arg name="DETECTOR_TYPE" value="GFT" /> # ORB, SURF, or GFT (Good features to track)
  <arg name="REGISTRATION_TYPE" value="ICPProbModel"/>  # ICP, ICPProbModel
  
  <include file="$(find ccny_rgbd)/launch/vo+mapping.launch">
      <arg name="detector_type" value="$(arg DETECTOR_TYPE)"/>
      <arg name="reg_type"      value="$(arg REGISTRATION_TYPE)"/>
  </include>
  
  # NOTES:
  # the openni's camera_nodelet_manager expects the 3 following topics:
  #         /camera/depth_registered/image_raw
  #         /camera/depth_registered/camera_info
  #         /camera/rgb/image_raw
  #         /camera/rgb/camera_info
  <include file="$(find ccny_openni_launch)/launch/openni_play.launch">
      <arg name="path" value="$(arg PATH_TO_FILE)" />
      <arg name="bag_name" value="$(arg BAG_NAME).bag" />
      <arg name="play_delay" value="$(arg BAG_PLAY_DELAY)" />
  </include>
    
  # To rxplot it type in a terminal:
  # $  rxplot /error_m/data /error_a/data -t "RGBD Benchmark Error Analysis" --ymin 0 --legend "Translation","Angular"
    
</launch>
