<!--
Launches all ROS componenets which are responsible for processing
data: pose estimation, mapping, planning.
-->

<launch>

  #### URDF model ####################################################

  <include file="$(find ccny_turtlebot_launch)/launch/robot_model/model.launch"/>

  #### Visual odometry ###############################################

  <include file="$(find  ccny_turtlebot_launch)/launch/proc/visual_odometry.launch"/>

  #### Pose estimation ###############################################
  <!-- TODO: with odometry, vo, etc.
  <include file="$(find ccny_turtlebot_launch)/launch/proc/pose_estimation.launch"/>
  -->
  
<!-- TODO:
  #### SLAM ##########################################################
  <include file="$(find ccny_turtlebot_launch)/launch/proc/slam_gmapping.launch"/>

  #### AMCL Localization ##############################################
  <include file="$(find ccny_turtlebot_launch)/launch/proc/amcl.launch"/>
-->


</launch>



